<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') %>

  <body class="bg-dark">
    <%- include('navbar.ejs') %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-fluid bg-secondary">
      <div class="container">
        <h1 class="display-3 text-light">Hello, world!</h1>
        <p class="text-light">
          This is a template for a simple marketing or informational website. It
          includes a large callout called a jumbotron and three supporting
          pieces of content. Use it as a starting point to create something more
          unique.
        </p>
        <p>
          <a class="btn btn-info btn-lg" href="#" role="button">Learn more &raquo;</a
          >
        </p>
      </div>
    </div>

    <div class="container-fluid bg-dark">
      <!-- Example row of cards -->
      <div class="card-group pt-2">
        <div class="card border border-info">
          <img class="card-img-top" src="https://picsum.photos/200/300?grayscale">
          <div id="prototype-overlay" class="card-img-overlay p-2 bg-info d-flex flex-column justify-content-center align-content-center">
            <img src="https://picsum.photos/200/300?grayscale">
            <p class="text-light text-center display-3">Lorem</p>
          </div>
          <h2 class="card-title display-4 text-center">Heading</h2>
          <p class="card-text p-2">
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.
          </p>
          <p class="text-center">
            <a class="btn btn-secondary stretched-link text-info" href="#" role="button">View details &raquo;</a>
          </p>
        </div>
        <div class="card border border-info">
          <img class="card-img-top" src="https://picsum.photos/400/600?grayscale">
          <h2 class="card-title display-4 text-center">Heading</h2>
          <p class="card-text p-2">
            Donec id elit non mi porta gravida at eget metus. Fusce dapibus,
            tellus ac cursus commodo, tortor mauris condimentum nibh, ut
            fermentum massa justo sit amet risus. Etiam porta sem malesuada
            magna mollis euismod. Donec sed odio dui.
          </p>
          <p class="text-center">
            <a class="btn btn-secondary stretched-link text-info" href="#" role="button">View details &raquo;</a
            >
          </p>
        </div>
        <div class="card border border-info">
          <img class="card-img-top" src="https://picsum.photos/300/450?grayscale">
          <h2 class="card-title display-4 text-center">Heading</h2>
          <p class="card-text p-2">
            Donec sed odio dui. Cras justo odio, dapibus ac facilisis in,
            egestas eget quam. Vestibulum id ligula porta felis euismod semper.
            Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum
            nibh, ut fermentum massa justo sit amet risus.
          </p>
          <p class="text-center">
            <a class="btn btn-secondary stretched-link text-info" href="#" role="button">View details &raquo;</a>
          </p>
        </div>
      </div>

      <%- include('footer.ejs') %>
    </div>

    <%- include('scripts.ejs') %>
  </body>
</html>
