<!DOCTYPE html>
<html lang="en">
  <%- include('header.ejs') %>

  <body class="bg-dark">
    <%- include('navbar.ejs') %>

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron jumbotron-fluid bg-secondary">
      <div class="container">
        <h1 class="display-3 text-light">Employee Management System</h1>
        <p class="text-light">
          Welcome to the Employee Management System. This portal will allow you to Create, View, Modify, and Delete employees and their information.
        </p>
        <p>
          <a class="btn btn-info btn-lg" href="/list" role="button">Learn more &raquo;</a
          >
        </p>
      </div>
    </div>

    <div class="container-fluid bg-dark">
      <!-- Example row of cards -->
      <div class="card-group pt-2">
        <div class="card border border-info">
          <img class="card-img-top" src="/images/new-employee-bw.jpg">
          <div class="card-img-overlay p-2 bg-info d-flex flex-column justify-content-center align-content-center">
            <img src="/images/new-employee.png">
            <p class="text-light text-center display-3">Create</p>
          </div>
          <h2 class="card-title display-4 text-center">Create a new Employee Record</h2>
          <p class="card-text p-2">
            Follow this link to begin the process of creating the records for a new employee. You'll need to have their information handy.
          </p>
          <p class="text-center">
            <a class="btn btn-secondary stretched-link text-info" href="/new" role="button">Create a new record &raquo;</a>
          </p>
        </div>
        <div class="card border border-info">
          <img class="card-img-top" src="/images/update-employee-bw.jpg">
          <div class="card-img-overlay p-2 bg-info d-flex flex-column justify-content-center align-content-center">
            <img src="/images/update-employee-1.png">
            <p class="text-light text-center display-3">Modify</p>
          </div>
          <h2 class="card-title display-4 text-center">Modify an existing Employee Record</h2>
          <p class="card-text p-2">
            Follow this link to modify an existing employee's information. You'll update the relevant fields in the database.
          </p>
          <input name="_csrf" value ="<% csrfToken %>" type="hidden">
          <p class="text-center">
            <a class="btn btn-secondary stretched-link text-info" href="#" role="button">Modify a record &raquo;</a
            >
          </p>
        </div>
        <div class="card border border-info">
          <img class="card-img-top" src="/images/delete-employee-bw.jpg">
          <div class="card-img-overlay p-2 bg-info d-flex flex-column justify-content-center align-content-center">
            <img src="/images/delete-employee.png">
            <p class="text-light text-center display-3">Delete</p>
          </div>
          <h2 class="card-title display-4 text-center">Delete an Employee Record</h2>
          <p class="card-text p-2">
            Follow this link to remove an employee from the database. Maybe they quit. Maybe they got fired. Either way they don't need to be
            in the system anymore.
          </p>
          <input name="_csrf" value ="<% csrfToken %>" type="hidden">
          <p class="text-center">
            <a class="btn btn-secondary stretched-link text-info" href="#" role="button">Delete a record &raquo;</a>
          </p>
        </div>
        <div class="card border border-info">
          <img class="card-img-top" src="/images/view-employees-bw.jpg">
          <div class="card-img-overlay p-2 bg-info d-flex flex-column justify-content-center align-content-center">
            <img src="/images/view-employees.jpg">
            <p class="text-light text-center display-3">View</p>
          </div>
          <h2 class="card-title display-4 text-center">View Employee Records</h2>
          <p class="card-text p-2">
            Follow this link to view employee records.
          </p>
          <input name="_csrf" value ="<% csrfToken %>" type="hidden">
          <p class="text-center">
            <a class="btn btn-secondary stretched-link text-info" href="/list" role="button">View records &raquo;</a>
          </p>
        </div>
      </div>

      <%- include('footer.ejs') %>
    </div>

    <%- include('scripts.ejs') %>
  </body>
</html>
